* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */

/* utilities */

.row > div {
  border: 1px solid red;
  /* height: 50px; */
}

/* Header */
header {
  /* height: 50px; da eliminare */
  background-color: rgba(44, 62, 80, 255);
}

.logo {
  text-transform: uppercase;
  font-size: 20px;
  color: rgba(255, 255, 255, 255);
  padding: 10px 0;
}

/* Main */

.hero {
  background-color: rgba(26, 188, 156, 255);
  height: 300px;
}

.portfolio {
  height: 500px;
}

.about {
  background-color: rgba(26, 188, 156, 255);
  height: 200px;
}

.contact {
  height: 400px;
}

.nav {
  flex-wrap: nowrap;
  padding-top: 10px;
}

.nav-link {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 255);
  font-size: 1em;
}

/* Footer */
.foot {
  height: 100px;
  background-color: rgba(58, 84, 109, 255);
}

.copyright {
  height: 50px;
  background-color: rgba(44, 62, 80, 255);
}
