* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
ul {
  list-style-type: none;
}
/* utilities */
.test {
  border: 1px solid red;
}

.white {
  color: rgba(255, 255, 255, 255);
}

.green {
  color: rgba(26, 188, 156, 255);
}

.line {
  border: 1px solid;
  height: 1px;
}

.btn-green {
  background-color: rgba(26, 188, 156, 255);
}

/* Header */
header {
  /* height: 50px; da eliminare */
  background-color: rgba(44, 62, 80, 255);
}

.logo {
  text-transform: uppercase;
  font-size: 20px;
  color: rgba(255, 255, 255, 255);
  padding: 10px 0;
}

.nav {
  flex-wrap: nowrap;
  padding-top: 10px;
}

/* Usa classi bootstrap text-light e text-uppercase */
.nav-link {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 255);
  font-size: 1em;
}

/* Main */

/* hero */
.hero,
.about {
  background-color: rgba(26, 188, 156, 255);
}

.hero-title {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 255);
  text-align: center;
}

/* Porfolio Section */

.portfolio img {
  border-radius: 10px;
  /* use boot class rounded */
}

.border {
  border-bottom: 1px solid gray;
}

/* Footer */
.foot {
  background-color: rgba(58, 84, 109, 255);
}

.copyright {
  background-color: rgba(44, 62, 80, 255);
}
